page-home {
.bg-image{
    background-image: url('../assets/pub.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:contain; 
}


.card{
    box-shadow:10px;
    background:transparent;
    border-radius: 5px;
    width: 90%;
    height: 40%;
    
}




 

}
