page-epidomology {
    .bg-image1{
        background-image: url('../assets/pub.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size:contain; 
    }
}

.header{
    font-size: 25px;
    font-weight: bold
}